%grid-currency {
    margin: .5rem;
    display: grid;
    column-gap: .1rem;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

.currency-exchanger--container{
    border-radius: 1rem;
    border: .1rem solid rgb(255, 174, 0);
    padding: 1rem 2rem;
    margin: 1rem .5rem;

    .title {
        color: rgb(255, 174, 0);
    }

    .data-container {
        
        .data-entry {
            @extend %grid-currency;
            input, ng-select {
                margin-top: .5rem;
            }
        }

        .convert-btn__container{
            margin: .5rem;
            display: grid;
            column-gap: .5rem;
            grid-template-columns: calc(100%/3) calc(100%*2/3);
            button {
                min-width: calc(100%/1);
                justify-self: end;
            }
        }

        .data-output {
            @extend %grid-currency;

            .more-details__btn {
                button {
                    min-width: 100%;
                }
            }
        }
    }
}

input, ng-select {
    margin: .1rem;
    color: #000000;
    border: .1rem solid rgb(255, 174, 0);
    padding: 1rem 2rem;
    border-radius: 1rem;
}

button {
    border-radius: 1rem;
    border: .1rem solid transparent;
    padding: 1rem 2rem;
    // margin-left: 1rem;
    color: #000000;
    background-color: rgb(255, 174, 0);
    cursor: pointer;
}

ng-select {
    cursor: pointer;
}

label, input, ng-select {
    min-width: calc(100%/1.14);
}

label {
    padding-left: 1rem;
}

.dashboard {
    padding: 1rem;
    border: .1rem solid rgb(255, 174, 0);
    border-radius: 1rem;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: stretch;
    // justify-items: stretch;
    // align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    // // grid-template-rows: 1fr 1fr 1fr;


    .dashboard-container {
        // margin: 1rem;
        color: #000000;
        border: .1rem solid rgb(255, 174, 0);
        padding: 1rem 2rem;
        border-radius: 0 1rem;
        min-height: 5rem;
        max-width: calc(100%/3);
        min-width: 80%;
        align-items: center;
        justify-content: space-between;
    }
}
