<div class="historical-rate-container">
    <div class="title-container">
        <h2 class="title">{{title}}</h2>
        <button type="button" routerLink="">Back to Home</button>
    </div>
    <div class="data-container">
        <div class="data-entry">
            <div class="amount-exchange">
                <label for="amount">Amount</label>
                <input type="number" class="amount" [(ngModel)]="currenciesModel.amount" placeholder="0.00" />
            </div>
            <div class="from-currency">
                <label for="from">From</label>
                <ng-select [items]="currencies" bindLabel="key" bindValue="key" [searchable]="true" [multiple]="false"
                    [clearable]="true" [(ngModel)]="currenciesModel.fromCurrency" disabled></ng-select>
            </div>
            <div class="to-currency">
                <label for="to">To</label>
                <ng-select [items]="currencies" bindLabel="key" bindValue="key" [searchable]="true" [multiple]="false"
                    [clearable]="true" [(ngModel)]="currenciesModel.toCurrency"></ng-select>
            </div>
        </div>
        <div class="data-output">
            <div class="default-exchange">
                <input type="text" name="defaultValue" [(ngModel)]="currenciesModel.defaultValue" disabled />
            </div>
            <div class="amount-exchange">
                <input type="text" name="valueWithAmount" [(ngModel)]="currenciesModel.valueWithAmount" disabled />
            </div>
            <div class="more-details__btn">
                <button type="button" (click)="convertCurrency()" [disabled]="!currenciesModel.amount">
                    Convert
                </button>
            </div>
        </div>
    </div>
    <div class="historical-rates--chart_container">
        <div class="historical-rates--chart">
        </div>
    </div>
</div>